body{
  background-image:url("../img/posloginbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family:overpass;
  background-attachment: fixed;
}
#mainNav
{
  background-color: #660298;
  height: 10%;
}
h2
{
  color:#ffff;
}
h3
{
  color:#fff;
}
.required{
  color:#fff;
}
